.navBar {
  top: 40%;
  display: flex;
  text-align: left;
  width: auto;
  overflow: hidden;
  position: absolute;
  color: white;
  transition: max-width 500ms;
  max-width: 2em;
}

.navBar:hover {
  @extend .navBar;

  width: content-box;
  max-width: 15em;
  transition: max-width 500ms;
}