$border: 2px solid #480048;

.navBar {
  top: 40%;
  display: flex;
  text-align: left;
  overflow: hidden;
  position: absolute;
  color: white;
  transition: width 500ms;
  width: 2em;
  background-color: #7c6180;
  border-bottom: $border;
  border-top: $border;
  border-right: $border;
}

.navBar .MuiButton-label {
  white-space: nowrap;
}

.navBar:hover {
  @extend .navBar;

  width: 10em;
  transition: width 500ms;
}