.navBar {
  top: 50%;
  text-align: left;
  width: auto;
  overflow: hidden;
  position: absolute;
  color: white;
  transition: max-width 2s;
  max-width: 2em;
}

.navBar:hover {
  @extend .navBar;

  width: content-box;
  max-width: 15em;
  transition: max-width 2s;
}

@keyframes open {
  from { width: 2em }
  to { width: 7em }
}

@keyframes close {
  from { width: 5em }
  to { width: 2em }
}